.button {
  display: inline-block;
  padding: 1rem 3rem;
  font-family: "Arvo", serif;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0);
  border-radius: 0.25rem;
  transition: all 400ms ease-in-out;
  font-size: 1.4rem;
  line-height: 2.4rem;
  cursor: pointer;
  &.primary {
    background-color: var(--primary-brand);
    color: #ffffff;
    box-shadow: var(--shadow-1);
    &:hover {
      transform: scale(0.95);
      box-shadow: var(--shadow-2);
    }
    &:active {
      background-color: lighten(#081014, 5%);
      box-shadow: var(--shadow-1);
      
    }
  }
  &.reversed {
    background-color: #081014;
    color: #ffffff;
    &:hover {
      background-color: lighten(#081014, 10%);
      border: 1px solid rgba(255, 255, 255, 0);
      box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.2);
    }
    &:active {
      background-color: lighten(#081014, 5%);
      box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.15);
    }
    &:focus {
      background-color: lighten(#081014, 5%);
      box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.15);
    }
  }
}
