// TYPOGRAPHY HELPERS
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.is-bold {
  font-weight: 700;
  font-size: inherit;
}
.text-small {
  font-size: 0.8rem;
  line-height: 1.6rem;
}
.line-height-sm {
  line-height: 1.2rem;
}
.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}
.text-muted {
  opacity: 0.8;
}
.space-between-text {
  display: flex;
  justify-content: space-between;
}
// SPACING
.margin-top-sm {
  margin-top: 2rem;
}
.margin-top-md {
  margin-top: 4rem;
}
.margin-top-lg {
  margin-top: 6rem;
}
.margin-bottom-xs {
  margin-bottom: 1rem;
}
.margin-bottom-sm {
  margin-bottom: 2rem;
}
.margin-bottom-md {
  margin-bottom: 4rem;
}
.margin-bottom-lg {
  margin-bottom: 6rem;
}
.margin-bottom-xl {
  margin-bottom: 10rem;
}
.is-marginless {
  margin: 0px;
}
.padding-all-sm {
  padding: 1rem;
}
.padding-all-md {
  padding: 2rem;
}
.padding-top-sm {
  padding-top: 1rem;
}
.padding-top-md {
  padding-top: 2rem;
}
.padding-top-lg {
  padding-top: 3rem;
}
.padding-bottom-sm {
  padding-bottom: 1rem;
}
.padding-bottom-md {
  padding-bottom: 2rem;
}
.padding-bottom-lg {
  padding-bottom: 3rem;
}

// MISC
.rounded-corners {
  border-radius: 0.5rem;
}
.portfolio-border {
  border: 0.5rem solid #ffffff;
  background-color: #ffffff;
  box-sizing: border-box;
}

.portfolio-border-dark {
  border: 1.5rem solid var(--primary-brand);
  background-color: var(--primary-brand);
  box-sizing: border-box;
}

.hidden-sm {
  display: none;
}
@media (min-width: 620px) {
  .hidden-sm {
    display: block;
  }
}
.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shadow-lvl-1 {
  box-shadow: var(--shadow-1);
}
.shadow-lvl-2 {
  box-shadow: var(--shadow-2);
}
.shadow-lvl-3 {
  box-shadow: var(--shadow-3);
}
