// @import '../../node_modules/normalize.css/normalize.css';
@import "colours.scss";
@import "helpers.scss";
@import "grid.scss";
@import "typography.scss";
@import "buttons.scss";

body {
  margin: 0;
  background-color: #081014;
  color: #ffffff;
  min-height: 100vh;
  overflow-x: hidden;
}
.container {
  padding: 100px 1rem 1rem 1rem;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 10rem;
}
.fluid {
  max-width: 100%;
  height: auto;
}
.fade-enter-active {
  transition: opacity 2s, transform 2s;
}
.fade-enter {
  opacity: 0;
  transform: translateY(-10px);
}
