// @import '../../node_modules/normalize.css/normalize.css';
@import "variables.scss";
@import "helpers.scss";
@import "grid.scss";
@import "typography.scss";
@import "buttons.scss";

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text);
  min-height: 100vh;
  overflow-x: hidden;
}
.container {
  padding: 100px 1rem 1rem 1rem;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 10rem;
}
.fluid {
  max-width: 100%;
  height: auto;
}
.fade-enter-active {
  transition: opacity 2s, transform 2s;
}
.fade-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.separator {
  display: block;
  height: 5px;
  width: 30px;
  background-color: var(--secondary-brand);
  border-radius: 5px;
  margin: 2rem 0;
}